<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>number</key>
	<integer>1</integer>
	<key>title</key>
	<string>Begginers Defence</string>
	<key>lives</key>
	<integer>15</integer>
	<key>cash</key>
	<integer>30</integer>
	<key>towers</key>
	<array>
		<dict>
			<key>name</key>
			<string>Blaster Tower</string>
			<key>picture</key>
			<string>BlasterTowerSelect</string>
			<key>towerdata</key>
			<array>
				<dict>
					<key>level</key>
					<integer>1</integer>
					<key>name</key>
					<string>Blaster Cannon</string>
					<key>picture</key>
					<string>BlasterTower1</string>
					<key>upgrade</key>
					<integer>10</integer>
					<key>sell</key>
					<integer>7</integer>
					<key>range</key>
					<integer>10</integer>
					<key>shotspeed</key>
					<integer>20</integer>
					<key>damage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>level</key>
					<integer>2</integer>
					<key>name</key>
					<string>Blaster Cannon 2</string>
					<key>picture</key>
					<string>BlasterTower2</string>
					<key>upgrade</key>
					<integer>15</integer>
					<key>sell</key>
					<integer>10</integer>
					<key>range</key>
					<integer>10</integer>
					<key>shotspeed</key>
					<integer>20</integer>
					<key>damage</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>scenario</key>
	<array>
		<dict>
			<key>number</key>
			<integer>1</integer>
			<key>wave</key>
			<array>
				<dict>
					<key>creepType</key>
					<string>creepA</string>
					<key>waitFrame</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>creepType</key>
					<string>creepA</string>
					<key>waitFrame</key>
					<string>10</string>
				</dict>
				<dict>
					<key>creepType</key>
					<string>creepA</string>
					<key>waitFrame</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>course</key>
	<array>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>160</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>335</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>530</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>725</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>555</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>390</integer>
		</dict>
	</array>
</dict>
</plist>
